

<div class="mb-1 mt-1">
  <span class="mb-0 h1">To Do List...</span>
</div>

<div class="input-group">
  <input class="todo-input form-control py-2 rounded-pill shadow" type="text" placeholder="What needs to be done?"
         [(ngModel)]="todoTitle"
         (keyup.enter)="addTodo()">
</div>

<todo-item
    *ngFor="let todo of todoService.todosFiltered()"
    [todo]="todo"
></todo-item>



<div class="extra-container">

    <div>
      <label for="checkAll"></label>
      <input class="check-all-input" type="checkbox" id="checkAll"
            (change)="todoService.checkAllTodos()"
            [(ngModel)]="todoService.anyRemainingModel">Check all
    </div>
    <div>{{ todoService.remaining() }} items left</div>
</div>



<div class="extra-container">
    <div>
        <button class="btn-extra rounded-pill shadow-sm" [ngClass]="{'active': todoService.filter === 'all'}"
        (click)="todoService.filter='all'">All</button>
        <button class="btn-extra rounded-pill shadow-sm" [ngClass]="{'active': todoService.filter === 'active'}"
        (click)="todoService.filter='active'">Active</button>
        <button class="btn-extra rounded-pill shadow-sm" [ngClass]="{'active': todoService.filter === 'completed'}"
        (click)="todoService.filter='completed'">Completed</button>
    </div>
    <div *ngIf="todoService.atLeastOneCompleted()">
        <button class="rounded-pill" (click)="todoService.clearCompleted()">Clear Completed</button>
    </div>
</div>



